body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #f2f2f2;
}

nav button {
  margin: 5px;
  padding: 10px 15px;
  border: none;
  background: #0088cc;
  color: white;
  border-radius: 6px;
}

button {
  cursor: pointer;
}

input {
  padding: 8px;
  width: 80%;
  max-width: 250px;
}
